.heading {
    text-align: center;
}
.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

  .movie-card {
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: calc(33.333% - 20px);
    max-width: 400px;
  }

  .movie-card:hover {
    transform: translateY(-5px);
  }

  .movie-image {
    width: auto;
    height: 200px;
    object-fit: cover;
  }

  .movie-details {
    padding: 15px;
  }

  .movie-title {
    margin: 0 0 10px;
    font-size: 1.5rem;
    color: #333;
  }

  .movie-type {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
  }

  .movie-description {
    font-size: 0.9rem;
    color: #444;
    margin-bottom: 15px;
  }

  .movie-cast h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }

  .movie-cast ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .movie-cast li {
    font-size: 0.9rem;
    color: #555;
  }

  @media (max-width: 1200px) {
    .movie-card {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 768px) {
    .movie-card {
      width: 100%;
      max-width: 500px;
    }
  }